*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* background-color: blue; */
}

.scene{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.title{
    pointer-events: none;
}

.inst{
    width: 30%;
    height: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(28, 99, 37, 0.79);
    text-shadow: -1px 1px 3px rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.dot{
    margin: 0.1rem;
    width: 3%;
    height: auto;
}

h1{
    position: absolute;
    width: 50%;
    height: 50%;
    color: white;
    top: 20px;
    left: 20px;
    font-size: 4rem;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.58);
}


.main-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 80%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    /* background-color: rgba(255, 228, 196, 0.482);   */
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 45%;
    margin: 2rem 0;
    /* background-color: blue; */
    gap: 1rem;
}

.cards1 {
    background-color: rgba(28, 99, 37, 0.8);
    padding: 0.5rem;
    border-radius: 5px;
    opacity: 0;
    display: none;
}

.cards2 {
    background-color: rgba(28, 99, 37, 0.8);
    padding: 0.5rem;
    border-radius: 5px;
    opacity: 0;
    display: none;
}

.cards3 {
    background-color: rgba(28, 99, 37, 0.8);
    padding: 0.5rem;
    border-radius: 5px;
    opacity: 0;
    display: none;
}

.cards4 {
    background-color: rgba(28, 99, 37, 0.8);
    padding: 0.5rem;
    border-radius: 5px;
    opacity: 0;
    display: none;
}

.text{
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
    line-height: 2.5rem;
}

.text1, .text2, .text3, .text4{

    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-shadow: -3px 3px 5px rgb(0, 0, 0);
}

button{
    pointer-events: all;
    background-color: rgba(44, 167, 61, 0.8);
    text-shadow: -3px 3px 5px rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    color: white;
    border:none;
    border-radius: 10px;
    font-size: 1.5rem;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background-color: rgba(35, 219, 60, 0.8);
}

button:active{
    background-color: rgba(18, 70, 25, 0.8);
}

.img-logo{
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 5%;
    height: auto;
}


@media screen and (max-width: 500px){
    h1{
        font-size: 2.5rem;
    }

    .inst{
        width: 100%;
    }

    .img-logo{
        width: 20%;
        top:10px;
    }

    .main-container{
        width: 100%;
        height: 35%;
    }

    .text{
        font-size: 1.3rem;
        line-height: 1.4rem;
    }

    button{
        font-size: 1.3rem;
    }
}



@media screen and (min-width: 500px) and (max-width: 912px){

    .inst{
        width: 100%;
        gap: 1rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .main-container{
        width: 100%;
        height: 35%;
    } 

    .text{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .img-logo{
        top:10px;
        width: 15%;
    }

    button{
        font-size: 2.3rem;
    }
}
